<div class="card text-bg-dark">
    <img src="/vege.png" class="card-img" alt="...">
    <div class="card-img-overlay">
        <img src="/db.png" alt="" class="logo">
        <p class="card-text">El sitio de Dragon Ball es un portal web para comprar producto de las series de Dragon
            Ball. <br>
            En él se publican los producto mas reciente del manga, anime, juegos, y merchandising.</p>
        <p class="card-text"><small>¡Disfruta de una gran variedad de contenido!</small></p>
        <h2>Juego Oficial:</h2>
        <p>¡El juego de acción anime definitivo ya está aquí! ¡DRAGON BALL LEGENDS pone en tus manos el poder de <br>
            tus héroes favoritos de DRAGON BALL! Las épicas imágenes y animaciones en 3D dan vida a tu colección de <br>
            héroes: más de 400 personajes que podrás conseguir y entrenar para formar tu equipo definitivo. ¡Goku, <br>
            Vegeta, Trunks, Piccolo, Freezer, Broly, Majin Buu y muchos otros héroes y villanos te esperan! Descubre una <br>
            nueva historia original basada en el nuevo personaje diseñado por Akira Toriyama, el misterioso saiyajin <br>
            Shallot. ¡Únete a Shallot y a tus personajes favoritos de DRAGON BALL para salvar el mundo</p>
        <a href="https://play.google.com/store/apps/details?id=com.bandainamcoent.dblegends_ww&hl=es"><img src="/play.png" alt="" class="play"></a>
    </div>
</div>