<img src="/bandai.png" class="rounded float-start" alt="..." width="200px">
<img src="/toei.png" class="rounded float-end" alt="..." width="200px">

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bandai Namco entertainment</h5>
          <p class="card-text">© BANDAI NAMCO Entertainment America Inc. Todo el contenido, marcas, nombres y logotipos de terceros se usan con licencia y son propiedad de sus respectivos dueños. Todos los derechos reservados..</p>
          <a href="https://www.bandainamcoent.com/" class="btn btn-primary">Sitio Web</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Toei Animation</h5>
          <p class="card-text">©  TOEI ANIMATION Co., Ltd. All Rights Reserved..</p>
          <a href="https://corp.toei-anim.co.jp/en/index.html" class="btn btn-primary">Sitio Web</a>
        </div>
      </div>
    </div>
  </div>
